<a href="https://colab.research.google.com/github/Zahab163/python_practical_notes/blob/main/Cisco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1. The print() function is a built-in function. It prints/outputs a specified message to the screen/console window.

2. Built-in functions, contrary to user-defined functions, are always available and don't have to be imported. Python 3.8 comes with 69 built-in functions. You can find their full list provided in alphabetical order in the Python Standard Library.

3. To call a function (this process is known as function invocation or function call), you need to use the function name followed by parentheses. You can pass arguments into a function by placing them inside the parentheses. You must separate arguments with a comma, e.g., print("Hello,", "world!"). An "empty" print() function outputs an empty line to the screen.

4. Python strings are delimited with quotes, e.g., "I am a string" (double quotes), or 'I am a string, too' (single quotes).

5. Computer programs are collections of instructions. An instruction is a command to perform a specific task when executed, e.g., to print a certain message to the screen.

Let's see what you've learned today.
6. In Python strings the backslash (\) is a special character which announces that the next character has a different meaning, e.g., \n (the newline character) starts a new output line.

7. Positional arguments are the ones whose meaning is dictated by their position, e.g., the second argument is outputted after the first, the third is outputted after the second, etc.

8. Keyword arguments are the ones whose meaning is not dictated by their location, but by a special word (keyword) used to identify them.

9. The end and sep parameters can be used for formatting the output of the print() function. The sep parameter specifies the separator between the outputted arguments, e.g., print("H", "E", "L", "L", "O", sep="-"), whereas the end parameter specifies what to print at the end of the print statement.

In [ ]:
print("My\nname\nis\nBond.", end=" ")
print("James Bond.")

My
name
is
Bond. James Bond.

In [ ]:
print(sep="&", "fish", "chips")

SyntaxError: positional argument follows keyword argument (ipython-input-2062619362.py, line 1)

In [ ]:
print('Greg\'s book.')
print("'Greg's book.'")
print('"Greg\'s book."')
print("Greg\'s book.")
print('"Greg's book."')

SyntaxError: unterminated string literal (detected at line 5) (ipython-input-419619755.py, line 5)

In [ ]:
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)

8
8.0
8.0
8.0


Note: we've surrounded the double asterisks with spaces in our examples. It's not compulsory, but it improves the readability of the code.

The examples show a very important feature of virtually all Python numerical operators.

Run the code and look carefully at the results it produces. Can you see any regularity here?

Remember: It's possible to formulate the following rules based on this result:

when both ** arguments are integers, the result is an integer, too;
when at least one ** argument is a float, the result is a float, too.
This is an important distinction to remember.

The result produced by the division operator is always a float, regardless of whether or not the result seems to be a float at first glance: 1 / 2, or if it looks like a pure integer: 2 / 1.

Is this a problem? Yes, it is. It happens sometimes that you really need a division that provides an integer value, not a float.

Fortunately, Python can help you with that.

Integer division (floor division)
A // (double slash) sign is an integer division operator. It differs from the standard / operator in two details:

its result lacks the fractional part ‒ it's absent (for integers), or is always equal to zero (for floats); this means that the results are always rounded;
it conforms to the integer vs. float rule.
Run the example below and see the results:

In [ ]:
print(6 // 3)
print(6 // 3.)
print(6. // 3)
print(6. // 3.)

2
2.0
2.0
2.0

But what results should we expect with // division?

Run the code and see for yourself.

What we get is two ones ‒ one integer and one float.

The result of integer division is always rounded to the nearest integer value that is less than the real (not rounded) result.

This is very important: rounding always goes to the lesser integer.

Look at the code below and try to predict the results once again:

In [ ]:
print(-6 // 4)
print(6. // -4)

-2
-2.0

Note: some of the values are negative. This will obviously affect the result. But how?

The result is two negative twos. The real (not rounded) result is -1.5 in both cases. However, the results are the subjects of rounding. The rounding goes toward the lesser integer value, and the lesser integer value is -2, hence: -2 and -2.0.

  Note  
Integer division can also be called floor division. You will definitely come across this term in the future.

Remainder (modulo)
The next operator is quite a peculiar one, because it has no equivalent among traditional arithmetic operators.

Its graphical representation in Python is the % (percent) sign, which may look a bit confusing.

Try to think of it as a slash (division operator) accompanied by two funny little circles.

The result of the operator is a remainder left after the integer division.

In other words, it's the value left over after dividing one value by another to produce an integer quotient.

Note: the operator is sometimes called modulo in other programming languages.

Take a look at the snippet ‒ try to predict its result and then run it:

In [ ]:
print(14 % 4)

2

As you can see, the result is two. This is why:

14 // 4 gives 3 → this is the integer quotient;
3 * 4 gives 12 → as a result of quotient and divisor multiplication;
14 - 12 gives 2 → this is the remainder.

In [ ]:
print(9 % 6 % 2)

1

In [ ]:
print(2 ** 2 ** 3)

256

In [ ]:
print(-3 ** 2)
print(-2 ** 3)
print(-(3 ** 2))

-9
-8
-9

In [ ]:
print(2 * 3 % 5)

1

Key takeaways
1. An expression is a combination of values (or variables, operators, calls to functions ‒ you will learn about them soon) which evaluates to a certain value, e.g., 1 + 2.

2. Operators are special symbols or keywords which are able to operate on the values and perform (mathematical) operations, e.g., the * operator multiplies two values: x * y.

3. Arithmetic operators in Python: + (addition), - (subtraction), * (multiplication), / (classic division ‒ always returns a float), % (modulus ‒ divides left operand by right operand and returns the remainder of the operation, e.g., 5 % 2 = 1), ** (exponentiation ‒ left operand raised to the power of right operand, e.g., 2 ** 3 = 2 * 2 * 2 = 8), // (floor/integer division ‒ returns a number resulting from division, but rounded down to the nearest whole number, e.g., 3 // 2.0 = 1.0)

4. A unary operator is an operator with only one operand, e.g., -1, or +3.

5. A binary operator is an operator with two operands, e.g., 4 + 5, or 12 % 5.

6. Some operators act before others - the hierarchy of priorities:

the ** operator (exponentiation) has the highest priority;
then the unary + and - (note: a unary operator to the right of the exponentiation operator binds more strongly, for example 4 ** -1 equals 0.25)
then: *, /, and %,
and finally, the lowest priority: binary + and -.
7. Subexpressions in parentheses are always calculated first, e.g., 15 - 1 * (5 * (1 + 2)) = 0.

8. The exponentiation operator uses right-sided binding, e.g., 2 ** 2 ** 3 = 256.

In [ ]:
print((2 ** 4), (2 * 4.), (2 * 4))

16 8.0 8

In [ ]:
print((-2 / 4), (2 / 4), (2 // 4), (-2 // 4))

-0.5 0.5 0 -1

In [ ]:
print((2 % -4), (2 % 4), (2 ** 3 ** 2))

-2 2 512

In [ ]:
john = 3
mary = 5
adam = 6

total_apples = john + mary + adam
print(total_apples)
print("Total number of apples:", total_apples)

14
Total number of apples: 14

In [ ]:
john = 3
mary = 5
adam = 6

print(john, mary, adam, sep=',')

total_apples = john + mary + adam
print(total_apples)

# peter = 12.5
# suzy = 2
# print(peter / suzy)
# print("Total number of apples:", total_apples)

3,5,6
14

In [ ]:

x=2
x = x * 2

In [ ]:
sheep = 2
sheep = sheep + 1

In [ ]:
x *= 2
sheep += 1

Miles and kilometers are units of length or distance.

Bearing in mind that 1 mile is equal to approximately 1.61 kilometers, complete the program in the editor so that it converts:

miles to kilometers;
kilometers to miles.
Do not change anything in the existing code. Write your code in the places indicated by ###. Test your program with the data we've provided in the source code.

Pay particular attention to what is going on inside the print() function. Analyze how we provide multiple arguments to the function, and how we output the expected data.

Note that some of the arguments inside the print() function are strings (e.g., "miles is", whereas some other are variables (e.g., miles).

  Tip  
There's one more interesting thing happening there. Can you see another function inside the print() function? It's the round() function. Its job is to round the outputted result to the number of decimal places specified in the parentheses, and return a float (inside the round() function you can find the variable name, a comma, and the number of decimal places we're aiming for). We're going to talk about functions very soon, so don't worry that everything may not be fully clear yet. We just want to spark your curiosity.

After completing the lab, open the Sandbox, and experiment some more. Try to write different converters, e.g., a USD to EUR converter, a temperature converter, etc. ‒ let your imagination fly! Try to output the results by combining strings and variables. Try to use and experiment with the round() function to round your results to one, two, or three decimal places. Check out what happens if you don't provide any number of digits. Remember to test your programs.

Experiment, draw conclusions, and learn. Be curious.

Expected output
Output
7.38 miles is 11.88 kilometers
12.25 kilometers is 7.61 miles

In [ ]:
miles = 100
kilometers = miles * 1.61
print(miles, "miles is", round(kilometers, 2), "kilometers")

100 miles is 161.0 kilometers

In [ ]:
kilometers = 12.25
miles = 7.38

miles_to_kilometers =miles * 1.61

kilometers_to_miles = kilometers / 1.61

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

7.38 miles is 11.88 kilometers
12.25 kilometers is 7.61 miles

Scenario
Take a look at the code in the editor: it reads a float value, puts it into a variable named x, and prints the value of a variable named y. Your task is to complete the code in order to evaluate the following expression:

3x3 - 2x2 + 3x - 1

The result should be assigned to y.

Remember that classical algebraic notation likes to omit the multiplication operator ‒ you need to use it explicitly. Note how we change data type to make sure that x is of type float.

Keep your code clean and readable, and test it using the data we've provided, each time assigning it to the x variable (by hardcoding it). Don't be discouraged by any initial failures. Be persistent and inquisitive.

Sample input
x = 0
x = 1
x = -1
Sample output
Output
y = -1.0
y = 3.0
y = -9.0

In [ ]:
x = 0
x = 1
x =-1 # Hardcode your test data here.
x = float(x)
# Write your code here.
y = 3 * x ** 3 - 2 * x ** 2 + 3 * x - 1
print("y =", y)

y = -9.0

In [ ]:
x = 0
x = float(x)
y = 3 * x**3 - 2 * x**2 + 3 * x - 1
print("y =", y)

x = 1
x = float(x)
y = 3 * x**3 - 2 * x**2 + 3 * x - 1
print("y =", y)

x = -1
x = float(x)
y = 3 * x**3 - 2 * x**2 + 3 * x - 1
print("y =", y)

y = -1.0
y = 3.0
y = -9.0

A variable is a named location reserved to store values in the memory. A variable is created or initialized automatically when you assign a value to it for the first time. (2.1.4.1)

Each variable must have a unique name ‒ an identifier. A legal identifier name must be a non-empty sequence of characters, must begin with the underscore(_), or a letter, and it cannot be a Python keyword. The first character may be followed by underscores, letters, and digits. Identifiers in Python are case-sensitive.

Python is a dynamically-typed language, which means you don't need to declare variables in it. (2.1.4.3) To assign values to variables, you can use a simple assignment operator in the form of the equal (=) sign, i.e., var = 1.

You can also use compound assignment operators (shortcut operators) to modify values assigned to variables, for example: var += 1, or var /= 5 * 2.

You can assign new values to already existing variables using the assignment operator or one of the compound operators, for example:

In [ ]:
var = 2
print(var)

var = 3
print(var)

var += 1
print(var)

2
3
4

You can combine text and variables using the + operator, and use the print() function to output strings and variables, for example:

In [ ]:
var = "007"
print("Agent " + var)

Agent 007

Question 1: What is the output of the following code?

In [ ]:

var = 2
var = 3
print(var)

3

Question 2: Which of the following variable names are illegal in Python? (Select three answers

In [ ]:
del

Question 3: What is the output of the following snippet?

In [ ]:
a = '1'
b = "1"
print(a + b)

11

In [ ]:
a = 6
b = 3
a /= 2 * b
print(a)

1.0

In [ ]:
# This program evaluates the hypotenuse c.
# a and b are the lengths of the legs.
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5  # We use ** instead of a square root.
print("c =", c)

c = 5.0

Comments may be useful in another respect ‒ you can use them to mark a piece of code that currently isn't needed for whatever reason. Look at the example below, if you uncomment the highlighted line, this will affect the output of the code:

In [ ]:
# This is a test program.
x = 1
y = 2
# y = y + x
print(x + y)

3

This is often done during the testing of a program, in order to isolate the place where an error might be hidden.

  Tip  
If you'd like to quickly comment or uncomment multiple lines of code, select the line(s) you wish to modify and use the following keyboard shortcut: CTRL + / (Windows) or CMD + / (Mac OS). It's a very useful trick, isn't it? Now experiment with the code in the editor.

In [ ]:
uncomment_me = 1
uncomment_me_too = 3
uncomment_me_also = 5

print(uncomment_me, uncomment_me_too, uncomment_me_also, sep="\n")

1
3
5

Scenario
The code in the editor contains comments. Try to improve it: add or remove comments where you find it appropriate (yes, sometimes removing a comment can make the code more readable), and change variable names where you think this will improve code comprehension.

  Note  
Comments are very important. They are used not only to make your programs easier to understand, but also to disable those pieces of code that are currently not needed (e.g., when you need to test some parts of your code only, and ignore others). Good programmers describe each important piece of code, and give self-commenting names to variables, as sometimes it is simply much better to leave information in the code.

It's good to use readable variable names, and sometimes it's better to divide your code into named pieces (e.g., functions). In some situations, it's a good idea to write the steps of computations in a clearer way.

One more thing: it may happen that a comment contains a wrong or incorrect piece of information ‒ you should never do that on purpose!

In [ ]:
#this program computes the number of seconds in a given number of hours
# this program has been written two days ago

a = 2 # number of hours
seconds = 3600 # number of seconds in 1 hour

print("Hours: ", a) #printing the number of hours
print("Seconds in Hours: ", a * seconds) # printing the number of seconds in a given number of hours
print("Goodbye")
#here we should also print "Goodbye", but a programmer didn't have time to write any code
#this is the end of the program that computes the number of seconds in 3 hour

Hours:  2
Seconds in Hours:  7200
Goodbye

##Summary on comments
1. Comments can be used to leave additional information in code. They are omitted at runtime. The information left in the source code is addressed to human readers. In Python, a comment is a piece of text that begins with #. The comment extends to the end of the line.

2. If you want to place a comment that spans several lines, you need to place # in front of them all. Moreover, you can use a comment to mark a piece of code that is not needed at the moment (see the last line of the snippet below), for example:

In [ ]:
# This program prints
# an introduction to the screen.
print("Hello!")  # Invoking the print() function
# print("I'm Python.")

Hello!

3. Whenever possible and justified, you should give self-commenting names to variables, e.g., if you're using two variables to store the length and width of something, the variable names length and width may be a better choice than myvar1 and myvar2.

4. It's important to use comments to make programs easier to understand, and to use readable and meaningful variable names in code. However, it's equally important not to use variable names that are confusing, or leave comments that contain wrong or incorrect information!

5.Comments can be important when you are reading your own code after some time (trust us, developers do forget what their own code does), and when others are reading your code (they can help them understand what your programs do and how they do it more quickly

Question 1: What is the output of the following snippet?

In [ ]:
# print("String #1")
print("String #2")

String #2

In [ ]:
# This is
a multiline
comment. #

print("Hello!")

SyntaxError: invalid syntax (ipython-input-1663758949.py, line 2)

##Section 6 – Interaction with the user

In [ ]:
print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

Tell me anything...

It shows a very simple case of using the input() function.

Note:

* The program prompts the user to input some data from the console (most likely using a keyboard, although it is also possible to input data using voice or image);
* the input() function is invoked without arguments (this is the simplest way of using the function); the function will switch the console to input mode; you'll see a blinking cursor, and you'll be able to input some keystrokes, finishing off by hitting the Enter key; all the inputted data will be sent to your program through the function's result;
* note: you need to assign the result to a variable; this is crucial ‒ missing out this step will cause the entered data to be lost;
* then we use the print() function to output the data we get, with some additional remarks.

In [ ]:
print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

In [ ]:
anything = input("Tell me anything...")
print("Hmm...", anything, "...Really?")

Note:

* the input() function is invoked with one argument ‒ it's a string containing a message;
* the message will be displayed on the console before the user is given an opportunity to enter anything;
* input() will then do its job.

This variant of the input() invocation simplifies the code and makes it clearer.

In [ ]:
anything = input("Enter a number: ")
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

In [ ]:
anything = input("Enter a number: ")
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

In [ ]:
# Testing a TypeError message.

anything = input("Enter a number: ")
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

Type casting (type conversions)
Python offers two simple functions to specify a type of data and solve this problem ‒ here they are: int() and float().

Their names are self-commenting:

the int() function takes one argument (e.g., a string: int(string)) and tries to convert it into an integer; if it fails, the whole program will fail too (there is a workaround for this situation, but we'll show you this a little later);
the float() function takes one argument (e.g., a string: float(string)) and tries to convert it into a float (the rest is the same).
This is very simple and very effective. Moreover, you can invoke any of the functions by passing the input() results directly to them. There's no need to use any variable as an intermediate storage.

We've implemented the idea in the editor ‒ take a look at the code.

Can you imagine how the string entered by the user flows from input() into print()?

Try to run the modified code. Don't forget to enter a valid number.

Check some different values, small and big, negative and positive. Zero is a good input, too.

In [ ]:
anything = float(input("Enter a number: "))
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

The program asks the user for the lengths of both legs, evaluates the hypotenuse and prints the result. Run it and try to input some negative values.

The program, unfortunately, doesn't react to this obvious error. Let's ignore this weakness for now. We'll come back to it soon.

Note that in the program that you can see in the editor, the hypo variable is used for only one purpose ‒ to save the calculated value between the execution of the adjoining line of code.

As the print() function accepts an expression as its argument, you can remove the variable from the code.

Just like this:

In [ ]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
print("Hypotenuse length is", (leg_a**2 + leg_b**2) ** .5)

It simply concatenates (glues) two strings into one. Of course, like its arithmetic sibling, it can be used more than once in one expression, and in such a context it behaves according to left-sided binding.

In contrast to its arithmetic sibling, the concatenation operator is not commutative, i.e., "ab" + "ba" is not the same as "ba" + "ab".

Don't forget ‒ if you want the + sign to be a concatenator, not an adder, you must ensure that both its arguments are strings.

You cannot mix types here.

This simple program shows the + sign in its second use:

In [ ]:
fnam = input("May I have your first name, please? ")
lnam = input("May I have your last name, please? ")
print("Thank you.")
print("\nYour name is " + fnam + " " + lnam + ".")

Note: using + to concatenate strings lets you construct the output in a more precise way than with a pure print() function, even if enriched with the end= and sep= keyword arguments.

Run the code and see if the output matches your predictions.

##Replication
The * (asterisk) sign, when applied to a string and number (or a number and string, as it remains commutative in this position) becomes a replication operator:

In [ ]:
string * number
number * string

It replicates the string the same number of times specified by the number.

For example:

* "James" * 3 gives "JamesJamesJames"
* 3 * "an" gives "ananan"
* 5 * "2" (or "2" * 5) gives "22222" (not 10!)

Remember  
A number less than or equal to zero produces an empty string.
this simple program "draws" a rectangle, making use of an old operator (+) in a new role:

In [ ]:
print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "+")

In [ ]:
str(number)

##The right-angle triangle again
Here is our "right-angle triangle" program again:

In [ ]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
print("Hypotenuse length is " + str((leg_a**2 + leg_b**2) ** .5))

Scenario
Your task is to complete the code in order to evaluate the results of four basic arithmetic operations.

The results have to be printed to the console.

You may not be able to protect the code from a user who wants to divide by zero. That's okay, don't worry about it for now.

Test your code ‒ does it produce the results you expect?

We won't show you any test data ‒ that would be too simple.

In [ ]:
# input a float value for variable a here
print(float(input("Enter value for a: ")))
# input a float value for variable b here
print(float(input("Enter value for b: ")))
# output the result of addition here
print(a + b)
# output the result of subtraction here
print(a - b)
# output the result of multiplication here
print(a * b)
# output the result of division here
print(a / b)

print("\nThat's all, folks!")

In [ ]:
a = float(input("Enter first value: "))
b = float(input("Enter second value: "))
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("\nThat's all, folks!")

Your task is to complete the code in order to evaluate the following expression:![Cis.png]()

Math expression
the result should be assigned to y. Be careful ‒ watch the operators and keep their priorities in mind. Don't hesitate to use as many parentheses as you need.

You can use additional variables to shorten the expression (but it's not necessary). Test your code carefully.

Test Data
Sample input:

1
Expected output:

Output
y = 0.6000000000000001
Sample input:

10
Expected output:

Output
y = 0.09901951266867294
Sample input:

100
Expected output:

Output
y = 0.009999000199950014
Sample input:

-5
Expected output:

Output
y = -0.19258202567760344

In [ ]:
x = float(input("Enter value for x: "))

# Write your code here.
y = 3*x**3 - 2*x**2 + 3*x - 1


print("y =", y)

In [ ]:
x = float(input("Enter value for x: "))
y = 1./(x + 1./(x + 1./(x + 1./x)))
print("y =", y)

Scenario
Your task is to prepare a simple code able to evaluate the end time of a period of time, given as a number of minutes (it could be arbitrarily large). The start time is given as a pair of hours (0..23) and minutes (0..59). The result has to be printed to the console.

For example, if an event starts at 12:17 and lasts 59 minutes, it will end at 13:16.

Don't worry about any imperfections in your code ‒ it's okay if it accepts an invalid time ‒ the most important thing is that the code produces valid results for valid input data.

Test your code carefully. Hint: using the % operator may be the key to success.


Test Data
Sample input:

12
17
59
Expected output:

Output
13:16
Sample input:

23
58
642
Expected output:

Output
10:40
Sample input:

0
1
2939
Expected output:

Output
1:0

In [ ]:
hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))

# Write your code here.
end_hour = hour + dura//60
end_mins = mins + dura%60

In [ ]:
hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))
# find a total of all minutes
total_mins = mins + dura

# find a number of hours hidden in minutes and update the hour

hour = hour + total_mins//60
mins = total_mins%60
# correct minutes to fall in the (0..59) range
if mins >= 60:
    mins = mins - 60
    hour = hour + 1
# correct hours to fall in the (0..23) range
if hour >= 24:
    hour = hour - 24
print(hour, ":", mins, sep='')

In [ ]:
hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))
mins = mins + dura # find a total of all minutes
hour = hour + mins // 60 # find a number of hours hidden in minutes and update the hour
mins = mins % 60 # correct minutes to fall in the (0..59) range
hour = hour % 24 # correct hours to fall in the (0..23) range
print(hour, ":", mins, sep='')

##SUMMARY
1. The print() function sends data to the console, while the input() function gets data from the console.

2. The input() function comes with an optional parameter: the prompt string. It allows you to write a message before the user input, e.g.:

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name + ". Nice to meet you!")

3. When the input() function is called, the program's flow is stopped, the prompt symbol keeps blinking (it prompts the user to take action when the console is switched to input mode) until the user has entered an input and/or pressed the Enter key.

  Note  
You can test the functionality of the input() function in its full scope locally on your machine. For resource optimization reasons, we have limited the maximum program execution time in Edube to a few seconds. Go to the Sandbox, copy-paste the above snippet, run the program, and do nothing ‒ just wait a few seconds to see what happens. Your program should be stopped automatically after a short moment. Now open IDLE, and run the same program there ‒ can you see the difference?

Tip: the above-mentioned feature of the input() function can be used to prompt the user to end a program. Look at the code below:

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name + ". Nice to meet you!")

print("\nPress Enter to end the program.")
input()
print("THE END.")

4. The result of the input() function is a string. You can add strings to each other using the concatenation (+) operator. Check out this code:

In [ ]:
num_1 = input("Enter the first number: ") # Enter 12
num_2 = input("Enter the second number: ") # Enter 21

print(num_1 + num_2) # the program returns 1221

5. You can also multiply (* ‒ replication) strings, e.g.:

In [ ]:
my_input = input("Enter something: ") # Example input: hello
print(my_input * 3) # Expected output: hellohellohello

Question 1: What is the output of the following snippet?

In [ ]:
x = int(input("Enter a number: ")) # The user enters 2
print(x * "5")

Question 2: What is the expected output of the following snippet?

In [ ]:
x = input("Enter a number: ") # The user enters 2
print(type(x))

Question 2: What is the expected output of the following snippet?

In [ ]:
1 \1