<a href="https://colab.research.google.com/github/Zahab163/python_practical_notes/blob/main/courGooglePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
friends = ['Zahabia', 'Uzma', 'Muskaan', 'Kiran']
for friend in friends:
  print('Hi  ' + friend)

Hi  Zahabia
Hi  Uzma
Hi  Muskaan
Hi  Kiran

In [ ]:
for i in range(10):
  print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

Functions
A function is a piece of code that performs a unit of work. In the examples you've seen so far, you have only encountered the print() function, which outputs a message to the screen. You will use this function frequently in this course to check the results of your code. The syntax of the print() function is modeled in the example below.

In [ ]:
print("Hello, world! ")

Hello, world!

In [ ]:
name = "Brook"
print("Hello " + name)
#Hello Brook

In [ ]:
name = "Zahabia"
print("Hello " + name)

Hello Zahabia

#Python Can be Our Calculator

In [ ]:
print(4+5)
#9
print(9*7)
#63
print(-1/4)
#-0.25

9
63
-0.25

In [ ]:
print(1/3)
#0.333333333333333

0.3333333333333333

In [ ]:
print(((2050/5)-32)/9)
#42.0

42.0

In [ ]:
print(2**10) #2 to the power of 10
#1024

1024

In [ ]:
print(((1 + 2) * 3)/4)

2.25

Keywords
A keyword is a reserved word in a programming language that performs a specific purpose. In your first Python example, you briefly encountered the keywords for and in.

In the next few weeks, you will also learn the following keywords:

Values: True, False, None
Conditions: if, elif, else
Logical operators: and, or, not
Loops: for, in, while, break, continue
Functions: def, return

Arithmetic operators
Python can calculate numbers using common mathematical operators, along with some special operators, too:  

x + y            Addition + operator returns the sum of x plus y
x - y             Subtraction - operator returns the difference of x minus y
x * y            Multiplication * operator returns the product of x times y
x / y             Division / operator returns the quotient of x divided by y
x**y            Exponent ** operator returns the result of raising x to the power of y
x**2            Square expression returns x squared
x**3            Cube expression returns x cubed
x**(1/2)    Square root (½) or (0.5) fractional exponent operator returns the square root of x
x // y           Floor division operator returns the integer part of the integer division of x by y
x % y          Modulo operator returns the remainder part of the integer division of x by y

Order of operations
The order of operations are to be calculated from left to right in the following order:

Parentheses ( ), { }, [ ]

Exponents xy   (x**y)

Multiplication * and Division /  

Addition + and Subtraction -    

 You might find the PEMDAS mnemonic device to be helpful in remembering the order.

In [ ]:
print("Programming in Python is fun!")

Programming in Python is fun!

In [ ]:
ratio = 9**(1/2)
print(ratio)

3.0

1.python IDLE is also a
2. Linux OS. Access the Linux terminal by clicking on it or using CTRL, ALT, T. This will allow you to check for Python. Type Python. Python comes pre-installed on most Linux systems. If the command is not found, you can install Python by writing sudo apt install python3


2.

In [ ]:
# Syntax for printing a string of text
print("I love Python!")


# Syntax for printing numeric values
print(360)
print(32*45)


# Syntax for printing the value of a variable
value = 8*6
print(value)

I love Python!
360
1440
48

In [ ]:
# Multiplication, division, addition, and subtraction
print(3*8/2+5-1)

# Exponents
print(4**6) # Syntax means 4 to the power of 6
print(4**2) # To square a number
print(4**3) # To cube a number
print(4**0.5) # To find the square root of a number

# To calculate how many different possible combinations can be
# formed using a set of "x" characters with each character in "x"
# having "y" number of possible values, you will need to use an
# exponent for the calculation:
x = 4
y = 26
print(y**x)

16.0
4096
16
64
2.0
456976

In [ ]:
# Assignment of values to the variables:
years = 10
weeks_in_a_year = 52
# This variable is assigned an arithmetic calculation:
weeks_in_a_decade = years * weeks_in_a_year
# Prints the calculation stored in the "weeks_in_a_decade" variable:
print(weeks_in_a_decade)

520

In [ ]:
print(2+2/((2+2)+(2**2)))

2.25

In [ ]:
# Enter code here:
hour = 60
print(hour * 24)#24 hour
# Should print 1440

1440

On a college campus, there are 30 computers in each of the 20 computer labs that are spread across campus.  The computers have a life cycle where they are replaced every five  years. One-fifth of the computers are replaced each year.


Fill in the blank to calculate the number of computers that are replaced each year by dividing the total computers by the replacement cycle. Note: Your result should be a number.

In [ ]:
total_computers = 30*20
replacement_cycle = 5
computers_per_year = total_computers /5

print(computers_per_year) # Should print 120.0

120.0

Question 10
Fill in the blank to calculate how many sectors a given 16 GB (gigabyte) hard disk drive has. The given hard drive is divided into sectors of 512 bytes each. Divide the total bytes on the drive by the number of bytes in a sector to calculate how many sectors this drive has.  Your result should be a number. Note: To calculate the total bytes on the disk drive, multiply by multiples of 1024. In the code below,  you can calculate the "disk_size" of 16 GB by multiplying 16 by 1024 three times to go from bytes, to kilobytes, to megabytes, and finally to gigabytes.

In [ ]:
disk_size = 16*1024*1024*1024
sector_size = 512
sector_amount = disk_size / sector_size
print("sector_amount")

print(sector_amount) # Should print 33554432.0

Functions: A group of related statements to perform a task and return a value

In [ ]:
def to_celsius(x):
   '''Convert Fahrenheit to Celsius'''
   return (x-32) * 5/9


to_celsius(75)

23.88888888888889

#Conditional statements:
Sections of code that direct program execution based on specified conditions

In [ ]:
number = -4


if number > 0:
   print('Number is positive.')
elif number == 0:
   print('Number is zero.')
else:
   print('Number is negative.')