<a href="https://colab.research.google.com/github/Zahab163/python_practical_notes/blob/main/List_%7C_Class%7C_Decorators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
table = int(input("enter a number in which you want:"))
for value in range(1,16):
  print (f"{table}*{value}={table*value}")

enter a number in which you want:5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
5*11=55
5*12=60
5*13=65
5*14=70
5*15=75

In [ ]:
num=int (input("enter a number"))

enter a number6

In [ ]:
for i in range (1,num+1):
  for j in range (1,11):
    print(f"{i} * {j} = ",i* j ) #Corrected the indentation and the f-string formatting

1 * 1 =  1
1 * 2 =  2
1 * 3 =  3
1 * 4 =  4
1 * 5 =  5
1 * 6 =  6
1 * 7 =  7
1 * 8 =  8
1 * 9 =  9
1 * 10 =  10
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18
2 * 10 =  20
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
3 * 10 =  30
4 * 1 =  4
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28
4 * 8 =  32
4 * 9 =  36
4 * 10 =  40
5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45
5 * 10 =  50
6 * 1 =  6
6 * 2 =  12
6 * 3 =  18
6 * 4 =  24
6 * 5 =  30
6 * 6 =  36
6 * 7 =  42
6 * 8 =  48
6 * 9 =  54
6 * 10 =  60

In [ ]:
names_list =["sonia" ,"manahil" , "ayesha" ,"fozia"]

In [ ]:
print(names_list)

['sonia', 'manahil', 'ayesha', 'fozia']

In [ ]:
list (range(1,11))

In [ ]:
age =[]

In [ ]:
age =list (age)

In [ ]:
age.append(12)
print (age)

[12, 12, 12, 12, 12]

In [ ]:
animals_list =[]
animal = input("enter a animal")
animals.append(animal)

In [ ]:
animal=input("enter a animal")

enter a animaldog

In [ ]:
list_1 = ("Samar", "20" ,"Inter")
list_2 = ("Zahabia" , "30" ,"B.sc")
list_3 =("Afsheen", "35" ,"M.ba")

In [ ]:
lists =[list_1,list_]

In [ ]:
candidates=[]

In [ ]:
particular_student= []

In [ ]:
name =input("enter your name ")
age =int(input("enter your age"))
education = input("enter your education")

In [ ]:
particular_student.append(["name", "age","education"])

In [ ]:
attributes are variables ...classes ko object oreinted ,multiple things in class are called objects list .append Function , is based on classs ...format is a fun string...

In [ ]:
class ka keyword attributes Variable s , constructured functionssave attributes--init

In [ ]:
class Employement:
  def __init__(self) -> None:
    pass

In [ ]:
class Student:
  def  __init__(self, name , education):
    self.name = "Aqsa"
    self.age = 23
    self.education = education

  def greeting(self):
    print("Hello" , self.name)

In [ ]:
student_1 = Student("Aqsa", "Matric")

In [ ]:
student_1.greeting()

Hello Aqsa

In [ ]:
student_2 = Student("Ali", "Matric")

In [ ]:
student_2.greeting()

Hello Aqsa

In [ ]:
class Student:
  def  __init__(self, name , education):
    self.name = "Aqsa"
    self.age = 23
    self.education = education

  def greeting(abc):
    print("Hello" , abc.name)

In [ ]:
class Student:
  def  __init__(self, name , age,  education):
    self.name = name
    self.age = age
    self.education = education

  def greeting(self):
    print("Hello" , self.name,self.age ,self.education)

In [ ]:
student_3 = Student("salman",26 ,"B.com")

In [ ]:
student_3.greeting()

Hello salman 26 B.com

In [ ]:
name = input("enter your name ")
age = int(input("enter your age "))
education = input("enter your education ")

enter your name Arsalan
enter your age 19
enter your education B.com

In [ ]:
student_4 =Student( name , age , education)

In [ ]:
student_4.greeting()

Hello Arsalan 19 B.com

dependent ,and independent function (methods) one type of method is what class is defined or not :
Static Method without class like self
2.
decorators : class method , dependant ,indepently

In [ ]:
class Student:
  def  __init__(self, name , age,  education):
    self.name = name
    self.age = age
    self.education = education

  def greeting(self):
    print("Hello" , self.name,self.age ,self.education)

In [ ]:
class Math:
  @staticmethod
  def add(a,b):
    return a+b

In [ ]:
print(Math.add(80,9))

89

In [ ]:
class Student:
  @staticmethod
    def greeting(name ,age , education):
    print("Hello" , name,age ,education)

IndentationError: unexpected indent (<ipython-input-57-a021ffc0e143>, line 3)

In [ ]:
class Student:
  @staticmethod
  def greeting(name ,age , education):
    print("Hello" , name,age ,education)

In [ ]:
student_5 =Student()

In [ ]:
student_5.greeting("Aqsa",23,"Matric")

Hello Aqsa 23 Matric

a logical entity with specific attributes and methods. For example, if the class is a pen, it will have attributes and methods like color, type, etc. OOPs in Python primarily deals with classes and objects. Classes define functions, known as methods, that describe the actions and behaviors an object can perform.types of opps :(object oriented programming)
inheritence Inheritance in Object-Oriented Programming (OOP) allows a class (the derived or child class) to inherit properties and methods from another class (the base or parent class). ,
 pollymorphism:the same function name is being used for different types. Each function is differentiated based on its data type and number of arguments. So, each function has a different signature. This allows developers to write clean, readable, and resilient codes.,
 incapsulation:In Object-Oriented Programming (OOP), encapsulation is the bundling of data (attributes) and the methods (functions) that operate on that data into a single unit, typically a class,
 abstraction:In Object-Oriented Programming (OOP), abstraction is the process of hiding complex implementation details and showing only the essential information to the user.
difference between inheritence and abstraction

In [ ]:
def greeting("Sarim",20,"Inter"):
    @staticmethod
    print("Hello" , name,age ,education)

SyntaxError: invalid syntax (<ipython-input-66-70796bb5c824>, line 1)

In [ ]:
calss Human:
def __init__(self ,region):
  self.region =region

  def introduction(abc):
    print("This Human comes from", abc.region)

class Asia(human):
  def __init__(self ,region ,culture):
    #super( )__init__(region)
    self.culture = culture
    self.life_style = life_style

  def life_style(abc)
  print(F"the {abc.life_style} life_styleis in the {abc.region}")

c