<a href="https://colab.research.google.com/github/Zahab163/python_practical_notes/blob/main/python_%2C_notes_making_%2C_practical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print() is a built in python **Function**.
Functions are blocks of code that performs specific tasks. for example print() function is to display output to the user.
"Hello Class !** is a **string literal**, the simple text you want to display and it is ("") to tell python that its a text.

In [ ]:
print("Hello  Class !")

Hello  Class !

then ,There are **variables** we use variables to temperarily store data in computer's memory. for example : We can store price of product, or someone's name ,email,and age and so on..., like here we stored the no. 20 in computer's memory and attaching this as a **label** for that memory location.

In [ ]:
age =20

In [ ]:
print ( age)

20

In [ ]:
price = 99.99

**Boolean  value** is a special type of value in which **True** or **False** is like yes or no in English.

In [ ]:
is_online= True

In [ ]:
first_name = "Zahabia "

In [ ]:
new_patient = "Sara"
age = 20

In [ ]:
print(new_patient,age )

Sara 20

**Input Function**
In python we have another built_in function called **input**,we use this to read a value from terminal window.

In [ ]:
input("What is your name? ")

What is your name? Zahabia Ahmed

'Zahabia Ahmed'

Like when we run this program we got this value , when we click on it we , then we add a value which was name.

In [ ]:
name = input ("whats your name? ")
print("hello!" + name)

whats your name? Zahabia Ahmed
hello!Zahabia Ahmed

In [ ]:
birth_year = input("Enter your birth year:")
age = 2025-int(birth_year)
print(age)

Enter your birth year:1996
29

int () when we have a no. in string then we cannot process it because system do not know how to subtract string from an intreger like this "1996" . so we have to pass a string fom a int () function. like the above state .

 Built in functions for converting the types of value;

A  number in python has different names according to their states:
names of types of numbers.

1.  Interger : A no. is called a interger  in python.10 is an intreger.(int)
2.   Float :a no. with a decimal point is called float. 10.1 is a float
3.   bool for converting a no. into a boolean.True or False.
4.  ( str) for converting a value into a string. alhabets.

In [ ]:
first =input ("First: ")
second = input ("second:")
sum = first +second
print (sum)

First: 10
second:20
1020

In [ ]:
first = input("first: ")
second =input ("second: ")
sum = float(first) + float(second)
print(sum)

first: 10.1
second: 20
30.1

In [ ]:
first = float(input ("first:"))
second =float(input ("second:"))
sum = (first + second)
print("sum:"+str(sum))

first:10.1
second:20
sum:30.1