<a href="https://colab.research.google.com/github/Zahab163/python_practical_notes/blob/main/python_task_01%2C02%2C_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q; Write a program to calculate bill (accept number of unit from user ) according to the following criteria:


1.    for 100 units= 0
2.    for 200 units = rs. 5/unit
3.   for +200 uints= rs. 10/ unit

In [ ]:
def calculate_bill(units):
  if units <=100:
    rate =0
  elif units <=200:
   rate =5
  elif units >=200:
   rate =10
  amount =units *rate
  return amount

In [ ]:
def calculate_bill(units):
  if units <=100:
    rate =0
  elif units <=200:
   rate =5
  elif units >=200:
   rate =10
  amount =(100*5)+ (units-200)*10
  return amount
  units_consumed =int (input("enter the no. of units consumed: "))
  bill_amount =calculate_bill(units_consumed)
  Print ("bill amount: ", bill_amount )

In [ ]:
unit_consumed = int(input("Enter the no. of units consumed: "))
bill_amount = calculate_bill(unit_consumed)
print("Bill Amount:", bill_amount)

Enter the no. of units consumed: 350
Bill Amount: 2000

In [ ]:
i= 1
while i <=5:
  print(i)
  i = i + 1

1
2
3
4
5

In [ ]:
i = 1
while i <= 10:
    print("*" * i)
    i = i + 1

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
for i in range(1,5+1):
 for j in range(1, i+1 ):
  print("*" ,end =" ")
  print()
for i in range(5-1,0,-1):
 for j in range (1, i + 1):
  print("*",end =" ")
  print ()

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [ ]:
numbers ={1,2,3,4,5}
for items in numbers:
  print(items)
i=0

1
2
3
4
5

In [ ]:
i = 0
numbers = {1, 2, 3, 4, 5}
numbers_list = list(numbers)
while i < len(numbers_list):
  print(numbers_list[i])
  i = i + 1

1
2
3
4
5

In [ ]:
i = 0
stars = {1,2,3,4,5}
for items in stars:
  print(items * "*")
stars_list = list(stars)
while i<len(stars_list):
 print(stars[i] * "*")
  i = i +1

IndentationError: unexpected indent (<ipython-input-171-642a51339d64>, line 8)

In [ ]:
i = 0
stars = {1,2,3,4,5}
for items in stars:
  print(items * "*")

*
**
***
****
*****

In [ ]:
numbers =[1,2,3,4,5,4,3,2,1]
for x_count in numbers:
    print ("x"*x_count)

x
xx
xxx
xxxx
xxxxx
xxxx
xxx
xx
x

In [ ]:
numbers = [1,2,3,4,5,4,3,2,1]
for x_count in numbers:
  output =" "
  for count in range(x_count):
    output += "x"
  print(output)

 x
 xx
 xxx
 xxxx
 xxxxx
 xxxx
 xxx
 xx
 x

In [ ]:
number = int(input("enter the number: "))
def check_number(number):
 if number % 2 == 0 and number % 5 == 0:
  return True
 else:
  return False
if check_number(number):
     print(f"{number} is even and divisible by 5." )
else:
    print(f"{number} is not divisible by 5.")
if number % 3 == 0 and number % 5 == 0:
  print(f"{number} is odd and divisible by 5.")
else:
  print(f"{number} is odd and not divisibe by 5.")

enter the number: 9
9 is not divisible by 5.
9 is odd and not divisibe by 5.

In [ ]:
number = int(input("enter the number: "))
if number % 2 == 0 and number % 5 == 0:

    if check_number(number):
        print(f"{number} is even and divisible by 5.")
    else:
        print(f"{number} is not divisible by 5.")

enter the number: 6

In [ ]:
numbers_str = input("Enter the list of numbers separated by spaces: ")
numbers_list = []
numbers_list = numbers_str.split()
numbers = [int(num) for num in numbers_list]
print(numbers)
single_numbers =list (set(numbers))
print("list of single numbers",single_numbers)

Enter the list of numbers separated by spaces: 2 3 4 5 6 5 3 2
[2, 3, 4, 5, 6, 5, 3, 2]
list of single numbers [2, 3, 4, 5, 6]